@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .mainDiv{
    @apply
    mx-auto
    max-w-7xl
    bg-gray-200
  }

  .username{
    @apply
    hidden
    md:inline-flex
    text-xl
    font-medium
    font-hind-font
  }

  .appName{
    @apply
    font-semibold 
    font-google-sans 
    hidden
    md:inline-flex
    md:text-2xl
  }

  .teamScore{
    @apply
    font-medium
    font-google-sans
    text-2xl
    md:text-3xl
  }

  .teamName{
    @apply
    font-semibold
    font-google-sans
    text-base
    md:text-lg
  }

  .topFeedDiv{
    @apply 
    px-6 
    py-6 
    justify-evenly 
    w-full 
    grid 
    xl:flex 
    xl:items-center
    bg-gray-100 
    mt-8 
  }

  .newsFeedDiv{
    @apply
    bg-gray-100
    mt-8
    grid
    space-y-10
    justify-evenly
    max-w-[720px]
    px-4
    overflow-y-scroll
    scrollbar-hide
  }

  .newsStanding{
    @apply
    rounded-xl
    overflow-y-scroll
    justify-center
    space-y-6
    lg:space-y-0
    py-6
    place-items-center
    lg:overflow-y-hidden
      lg:overflow-x-scroll
      scrollbar-hide
      max-w-[980px]
      max-h-[410px]
      lg:max-h-[720px]
      grid
      lg:flex
      space-x-10
      px-4
      bg-gray-800
  }

  .headerOptions{
    @apply 
    hidden 
    lg:inline-flex 
    lg:text-xl 
    hover:animate-pulse
    cursor-pointer
  }

  .headerOptionsIcon{
    @apply
    lg:hidden 
    inline-flex 
    h-[14px]
    sm:h-[20px]
    cursor-pointer
    hover:animate-pulse
  }

}
