@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .mainDiv{
    @apply
    mx-auto
    max-w-7xl
    bg-gray-200
  }

  .username{
    @apply
    hidden
    md:inline-flex
    text-xl
    font-medium
    font-hind-font
  }

  .appName{
    @apply
    font-semibold 
    font-google-sans 
    text-lg
    md:text-2xl
  }

  .teamScore{
    @apply
    font-medium
    font-google-sans
    text-2xl
    md:text-3xl
  }

  .teamName{
    @apply
    font-semibold
    font-google-sans
    text-base
    md:text-lg
  }

  .newsFeedDiv{
    @apply
    bg-gray-100
    mt-8
    grid
    space-y-10
    px-6
    w-full
    2xl:flex
    justify-evenly
    h-[290px]
  }

  .newsStanding{
    @apply
    rounded-xl
    overflow-y-scroll
    lg:place-items-center
    lg:overflow-y-hidden
      lg:overflow-x-scroll
      scrollbar-hide
      max-w-[980px]
      max-h-[410px]
      lg:max-h-[520px]
      grid
      lg:flex
      space-x-10
      px-3
      pr-5
      bg-gray-800
  }

}